.layout {
  min-height: 100vh;
}
.header {
  height: 80px;
  padding: 0 16px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 7px 24px 7px 0;
  float: left;
}

.menu-container-left {
  display: flex;
  height: 100%;
}

.menu-container-right {
  text-align: right;
  margin: auto 0;
}

.ant-menu-dark.ant-menu-horizontal {
  margin: auto 0 !important;
  width: 100% !important;
}

.ant-menu-horizontal {
  line-height: 36px !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  border-radius: 4px !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding: 0 15px !important;
}
