.layout {
  min-height: 100vh;
}
.header {
  height: unset;
  padding: 0 30px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 7px 24px 7px 0;
  float: left;
}
