:-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  height: 50px;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 50px;
}
